<h2>Lista Productos</h2>
<table datatable-dtOptions="dtoptions" class="table table-stripped">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Cantidad</th>
      <th>Tipo de Embalaje</th>
      <th>Precio por unidad(Sin IVA)</th>
      <th>IVA</th>
      <th>Precio Total(con IVA en caso de tenerlo)</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{ producto.name }}</td>
      <td>{{ producto.description }}</td>
      <td>{{ producto.quantity }}</td>
      <td></td>
      <td>{{ producto.unitary_price }}</td>
      <td>{{ producto.iva }}</td>
      <td>{{ producto.total }}</td>
      <td>
        <button (click)="actualizarProducto(producto.id)" class="btn btn-info">
          Editar
        </button>
        <button (click)="eliminarProducto(producto.id)" class="btn btn-danger">
          Borrar
        </button>
      </td>
    </tr>
  </tbody>
</table>
