<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Facturas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Restaurante</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        </div>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Crear Facturas</h1>
            <div class="card-body">
                <form th:action="@{/facturas/crear/{id}(id=${producto.id})}" th:object="${factura}" method="POST">
                    
                    <br>
                    <div class="form-group">
                        <label>ID Cliente: </label>
                        <input type="number" name="ID Cliente" th:field="*{cliente}" class="form-control" placeholder="Digite el ID del cliente" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Valor total: </label>
                        <input type="number" name="valor total" th:field="*{total}" class="form-control" placeholder="Digite el valor total de la factura" required>
                    </div>
                    <br>
                    <div class="box-footer">
                        <button class="btn btn-success">Guardar</button>
                        <a th:href="@{/facturas}" class="btn btn-info">Volver</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>